$bg-color: #f2f2f2;


.login {
  // margin: 80px 0;
  background-color: $bg-color;
  width: 100%;
  height: 100%;

  h2 {
    text-align: center;
    padding: 10px;
  }


  .form-signin {
    max-width: 380px;
    padding: 0px 15px 35px 45px;
    margin: 0 auto;
    background-color: $bg-color;
    border: 1px solid rgba(0,0,0,0.1);

    .form-signin-heading,
  	.checkbox {
  	  margin-bottom: 30px;
  	}

  	.checkbox {
  	  font-weight: normal;
  	}

  	.form-control {
  	  position: relative;
  	  font-size: 16px;
  	  height: auto;
  	  padding: 10px;
      box-sizing: border-box;

  		&:focus {
  		  z-index: 2;
  		}
  	}

  	input[type="text"] {
  	  margin-bottom: -1px;
  	  border-bottom-left-radius: 0;
  	  border-bottom-right-radius: 0;
  	}

  	input[type="password"] {
  	  margin-bottom: 20px;
  	  border-top-left-radius: 0;
  	  border-top-right-radius: 0;
  	}

    .button {
      background-color: #5294D8;
      border-radius: 4px;
    }
  }


  a {
      color: #5294D8;
      text-decoration: none
  }

  a:focus, a:hover {
      color: #1E42A5;
      text-decoration: underline
  }

  .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0
  }
}
