@import '../common';

.footer {
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  a:link {
    color: #ffffff;
  }

  a:hover {
    text-decoration: underline;
  }

  #footer_menu {
    list-style-type: none;

    li:first-child{
      border-left-style: none;
    }

    li {
      display:inline;
      padding-left: 5px;
      border-left-style: solid;
      border-left-width: 1px;
    }
  }

  img {
    width: 24px;
    height:24px;
    margin: 10px;
  }

  .Social {
    float:right;
  }

  .f_icon {
    float: left;
  }
}
